.idea/
build/
.gradle/
out/
.scannerwork/
.classpath
.project
.settings/
bin/
src/main/datastore.iml
src/test/test2.iml
src/test/test4.iml
*.iml
"\342\200\223"
**.DS_Store
.gradletasknamecache
tmp
*.hprof
