<configuration>
  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <file>/var/log/app.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
     <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%thread] %-5level %logger{36}.%M - [%X{mdcData}] [traceId:%X{X-B3-TraceId:-} | spanId:%X{X-B3-SpanId:-}] %msg%n</Pattern>
    </encoder>
  </appender>
  <logger name="com.rivigo" level="debug" additivity="false">
    <appender-ref ref="file"/>
  </logger>
  <logger name="org.springframework" level="warn" additivity="false">
    <appender-ref ref="file"/>
  </logger>
  <root level="warn">
    <appender-ref ref="file"/>
  </root>
</configuration>