<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%thread] %-5level %logger{36}.%M - [%X{mdcData}] [traceId:%X{X-B3-TraceId:-} | spanId:%X{X-B3-SpanId:-}] %msg%n</Pattern>
        </encoder>
    </appender>
    <logger name="com.rivigo" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.springframework" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>